$color = #1aad8d
$color2 = #E3A826
$light = lightness($color,70%)
$lightness  = lightness($color,90%)
$dark = lightness($color,20%)
$gray = saturation(lightness($color,50%),15%)
$sh = 1px 1px 1px rgba(0,0,0,.5)